<div class="card-content">
    <div class="content">
        <div class="name"><a href="https://www.imdb.com/search/title/?title=@Name" target="_blank">@Name</a></div>
        <div class="description">@Description</div>
    </div>
</div>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string Description { get; set; }
}